@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(6, 1, 22);
  background: linear-gradient(
    243deg,
    rgb(12, 3, 41) 21%,
    rgb(20, 9, 34) 36%,
    rgb(4, 5, 32) 61%,
    rgba(1, 0, 1, 1) 100%
  );
  font-family: Inconsolata;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -1px;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  transition: 0.4s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.884);
  color: #0a0a0a;
}
